services:
  - type: web
    name: mern-blog-server
    runtime: node
    buildCommand: npm run render-build
    startCommand: npm run render-start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: PORT
        fromService:
          type: web
          name: mern-blog-server
          property: port